body{
    font-family: Arial, Helvetica, sans-serif;
}

.brand-bar{
    height: 50px;
}

.brand-bar .row{
    background-color: black;
}

#sony-logo{
    height: 20px;
}

.navbar{
    background-color: #ffffff;
    height: 75px;
    border: 1px solid black;
}

.nav-link{
    font-weight: 600;
}

.fa-chevron-down{
    color: grey;
    font-size: 0.7rem;
}

.nav-item button{
    border-radius: 20px;
}

.search{
    width: 40%;
}

.jumbo .jumbo-bg{
    /* height: 370px; */
    padding-top: 250px;
    background-color: red;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

